.country-search {
  .search-container {
    padding: 16px;
    background-color: #fff;

    .icon {
      margin-right: 8px;
    }

    input {
      width: 300px;
      padding: 4px;
      height: 32px;
      background: transparent;
      border: 0;
      font-family: "Nunito Sans", sans-serif;
      font-weight: 600;
    }
  }
}
